@charset "utf-8";

/* header */

body {
    /* height: 1650px; */
    /* background-color: #eff8ff; */
    background: url(../images/ia_100000005.png) no-repeat #eff8ff;
    background-position: right bottom;
    background-size: 1000px 300px;
}

header {
    /* width: 1210px; */
    height: 120px;
    padding-top: 16px;
    padding-left: 32px;
    /* padding-right: 32px; */
    color: #666666;
    overflow: hidden;
    position: relative;
}

.head-l {
    float: left;
    overflow: hidden;
}

.head-l img {
    float: left;
    width: 189px;
    height: 100px;
    padding-right: 10px;
    /* border-right: 1px solid #c39766; */
}

.head-l span {
    float: left;
    display: block;
    padding-left: 42px;
    height: 36px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.head-r {
    float: right;
    height: 38px;
    overflow: hidden;
}

.head-r li {
    float: left;
}

.head-r li:nth-child(1) {
    padding-right: 20px;
    border-right: 1px solid #666;
}

.head-r li:nth-child(2) {
    padding-left: 20px;
}

.head-r li a img {
    width: 18px;
    height: 16px;
}


/* content */

main {
    /* width: 1210px; */
    height: 980px;
    position: relative;
}

.content {
    width: 470px;
    height: 502px;
    padding: 40px 30px 0;
    margin: 0 auto;
    /* position: absolute; */
}

.content h2 {
    font-size: 30px;
    height: 66px;
    line-height: 66px;
}

.nav {
    height: 70px;
}

.nav li {
    float: left;
    position: relative;
    height: 70px;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0); */
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    background-color: #f0f4ff;
}

.nav li a {
    display: block;
    width: 205px;
    line-height: 68px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #696b6b;
}

.aStyle {
    color: #3b78dd !important;
    border-bottom: 2px solid #3b78dd;
    background-color: #ffffff;
}


/* .nav li:nth-child(2) {
    background: url(../images/ia_100000002.png) no-repeat right top;
} */

.nav li #tag1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#regester div {
    height: 46px;
    padding-top: 40px;
    width: 410px;
}

#regester input {
    width: 410px;
    height: 46px;
    font-size: 16px;
    color: #bfbfcd;
    text-indent: 16px;
    border: 1px solid #cbcbcb;
    outline: none;
}

#regester #email {
    width: 279px;
    height: 46px;
    border-right: none;
    float: left;
}

#regester #select {
    width: 129px;
    height: 48px;
    font-size: 16px;
    color: #bfbfcd;
    border: 1px solid #cbcbcb;
    border-left: none;
    float: left;
    outline: none;
}

#regester aside {
    font-size: 12px;
    /* color: gray; */
    display: none;
}

#regester span {
    font-size: 12px;
    color: gray;
    display: block;
}

#regester article {
    display: flex;
    font-size: 12px;
    padding-top: 40px;
}

#regester article input {
    width: 12px;
    height: 12px;
}

#regester #submit {
    margin-top: 20px;
    background-color: #3b78dd;
    color: #fff;
    font-size: 22px;
    border: none;
}

#regester #ok {
    font-size: 12px;
    color: red;
    display: none;
}


/* footer */

footer {
    /* height: 590px; */
    font-size: 14px;
    padding-bottom: 32px;
    color: #666666;
    display: flex;
    justify-content: space-between;
}

.footer-l {
    display: flex;
    padding-left: 200px;
}

.footer-l li a {
    padding-right: 16px;
    height: 14px;
}

.footer-l li:nth-child(3) {
    border-right: 1px solid #666666;
}

.footer-r {
    padding-right: 200px;
}